@charset "UTF-8";

body {
    background: #ffffff;
    text-align: center;
    padding: 60px 20px;
    line-height: 1;
}

h1 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 10px;
}

p.description {
    font-size: 16px;
    margin-bottom: 30px;
}

.school {
    font-size: 40px;
    color: #0b6dff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title1 {
    background-color: #1d83ff;
    padding: 10px;
}

input[type="text"] {
    padding: 12px;
    width: 250px;
    font-size: 16px;
    border: 2px solid #1d83ff;
    border-radius: 5px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #1d83ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.success {
    color: green;
}

.fail {
    color: red;
}
